<h1>Points Log</h1>
<p>View your points, send someone points, view transaction history</p>

<h3>Current Points Total: <span class="badge badge-default badge-pill"><%= current_user.points.amount.to_s %></span></h3>
<hr />
<h2>Send Points:</h2>

<%= form_tag deposit_points_url, method: :post do |f| %>
  <div class="form-group">
    <%= select_tag :reciever, options_from_collection_for_select(User.where.not(id: current_user.id).all, "id", "email"), class: 'custom-select' %>
    <div class="form-group row">
      <label for="amount" class="col-2 col-form-label">Deposit Amount</label>
      <div class="col-10">
        <input class="form-control" type="number" id="amount" name="amount">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Deposit</button>
<% end %>

<h2>Transaction Log</h2>
All points changes on record
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Sender</th>
      <th>Reciever</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <th scope="row"><%= transaction.created_at %></th>
        <td><%= transaction.sender.email %></td>
        <td><%= transaction.reciever.email %></td>
        <% if transaction.reciever == current_user %>
          <td><span class="badge badge-default badge-pill"><%= transaction.amount %></span></td>
        <% else %>
          <td><span class="badge badge-danger badge-pill"><%= transaction.amount %></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
