<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Leaderboard", leaderboard_home_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Help", help_home_index_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Signout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted">Everyone Gets A Thousand</h3>
</div>

<div class="jumbotron">
  <h1 class="display-3">This is a fun game!</h1>
  <p class="lead">You get a thousand points when you start.  You want to have the most points.  You may trade points with each other.</p>
  <% unless user_signed_in? %>
    <p><%= link_to "Sign up today", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-secondary" %></p>
  <% else %>
    <p><%= link_to "View Points Log", points_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Help", help_home_index_path, class: "btn btn-lg btn-secondary" %></p>
  <% end %>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4></h4>
    <p></p>

    <h4></h4>
    <p></p>

    <h4></h4>
    <p></p>
  </div>

  <div class="col-lg-6">
    <h4></h4>
    <p></p>

    <h4></h4>
    <p></p>

    <h4></h4>
    <p></p>
  </div>
</div>

<footer class="footer">
  <p>&copy; EveryoneGetsAThousand 2017</p>
</footer>
