<div class="col-6">
<h1>Who's who of having points!</h1>

<ul class="list-group">
  <% @points.each do |point| %>
  <li class="list-group-item justify-content-between">
    <span class="badge badge-default badge-pill"><%= point.amount %></span>
    <%= point.user.email %>
  </li>
  <% end %>
</ul>
</div>